{% extends "pages/list_template.html" %}

{% block title %}Laser Mask Design List{% endblock %}

{% block list_title %}Laser Mask Designs{% endblock %}

{% block buttons %}
<div class="btn-group" role="group" aria-label="Button group with nested dropdown" style="margin-bottom: -100px; z-index:1000;">
    <a class="btn btn-primary" a href="{% url 'engineering:laser_mask_design_create' %}"><i class="fa fa-magic fa-fw"></i> Add Laser Mask Design</a>
    <a class="btn btn-primary"><i class="fa fa-trash-o fa-fw"></i> View Trash</a>
  
    <div class="btn-group" role="group">
        <a id="btnGroupDrop1" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Options
        </a>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="#">Print</a>
            <a class="dropdown-item" href="#">Export .xlsx</a>
        </div>
    </div>
</div>
{% endblock %}

{% block table %}
    <thead>
        <tr>
            <th>
                Mask Design UI
            </th>
            <th>
                Mask Layers
            </th>
            <th>
                Design Date
            </th>
            <th>
                Designer
            </th>
            <th>
                PCM
            </th>
            <th>
                Critical Dims.
            </th>
            <th>
                Dims.
            </th>
            <th>
                Thickness
            </th>
            <th>
                Material
            </th>
            <th>
                # Products
            </th>
            <th>
                Chip List
            </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>
                Mask Design UI
            </th>
            <th>
                Mask Layers
            </th>
            <th>
                Design Date
            </th>
            <th>
                Designer
            </th>
            <th>
                PCM
            </th>
            <th>
                Critical Dims.
            </th>
            <th>
                Dims.
            </th>
            <th>
                Thickness
            </th>
            <th>
                Material
            </th>
            <th>
                # Products
            </th>
            <th>
                Chip List
            </th>
        </tr>
    </tfoot>
    <tbody>
        {% for laser_mask_design in laser_mask_designs %}
        <tr>
            <td><a href="">{{ laser_mask_design.laser_mask_design_ui }}</a></td>
            <td>{{ laser_mask_design.mask_layers }}</td>
            <td>{{ laser_mask_design.design_date }}</td>
            <td>{{ laser_mask_design.designer }}</td>
            <td>{{ laser_mask_design.pcm }}</td>
            <td>{{ laser_mask_design.critical_dimensions }}</td>
            <td>{{ laser_mask_design.dimensions }}</td>
            <td>{{ laser_mask_design.thickness }}</td>
            <td>{{ laser_mask_design.material }}</td>
            <td>{{ laser_mask_design.number_of_products }}</td>
            <td>{{ laser_mask_design.chip_list }}</td>
        </tr>
        {% endfor %}
    </tbody>
{% endblock %}