# sftp configuration file
sftp-config.json

# Basics
*.py[cod]
__pycache__

# Logs
logs
*.log
pip-log.txt
npm-debug.log*

# Translations
*.mo
*.pot

# Pycharm
.idea/*


# Vim

*~
*.swp
*.swo

# npm
node_modules/

# Compass
.sass-cache

# virtual environments
.env

# User-uploaded media
business_management/media/

#secrets
#business_management/secrets/

staticfiles/

.cache/

