certifi==2017.7.27.1
chardet==3.0.4
defusedxml==0.5.0
Django==1.11.4
django-allauth==0.33.0
django-bootstrap4==0.0.1
django-debug-toolbar==1.8
django-environ==0.4.4
docopt==0.6.2
idna==2.6
oauthlib==2.0.2
olefile==0.44
Pillow==4.2.1
pipreqs==0.4.9
psycopg2==2.7.3
python3-openid==3.1.0
pytz==2017.2
requests==2.18.4
requests-oauthlib==0.8.0
six==1.10.0
sqlparse==0.2.3
urllib3==1.22
yarg==0.1.9
git+https://github.com/Lamelos/django-allauth-office365.git
