{% extends "pages/layout.html" %}
{% load static from staticfiles %}

{% block meta_title %}Purchase Order - {{ purchase_order.po_number }} {% endblock %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumb %}
  {% block breadcrumbs %}
    {{ block.super }}

  {% endblock %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col">
    <h1 class="page_title">Purchase Order</h1>
  </div>
  <div class="col-8">
    <button type="button" class="btn btn-primary" id="createTest">
      <span class="fa fa-plus fa-sm"></span>
      New Test
    </button>
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown" style="z-index:1000;">
      <a class="btn btn-secondary" href="{% url 'administration:fixed_asset_create' %}"><i class="fa fa-plus-circle fa-fw"></i> Add New Item</a>
      <a class="btn btn-secondary disabled"><i class="fa fa-copy fa-fw"></i> Copy</a>
      <a class="btn btn-secondary" href=""><i class="fa fa-edit fa-fw"></i> Edit PO</a>
      <a class="btn btn-secondary" href=""><i class="fa fa-edit fa-fw"></i> Edit Items</a>
      <a class="btn btn-secondary" href=""><i class="fa fa-download fa-fw"></i> Download</a>
    </div>
  </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>

<div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
            <strong>Purchase Order</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <img class="po-logo" src="{% static 'images/po-logo.jpg' %}" />
            </div>
            <div class="col-sm-6 text-right">
              <h1>PURCHASE ORDER</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-7">
              <h1>{{ purchase_order.company }}</h1>
            </div>
            <div class="col-sm-5">
              <p style="margin-left:-14px;">The following P.O. Number must appear on all invoices, bills of lading, and acknowledgements relating to this P.O.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-7">
              <h4>
                {{ purchase_order.company_address1 }}, <br />
                {{ purchase_order.company_address2 }}<br />
                {{ purchase_order.company_city }}, {{ purchase_order.company_state }} {{ purchase_order.company_zipcode }}
              </h4>
            </div>
            <div class="col-sm-5">
              <div class="row">
                <div class="col-sm-4">
                  <div class="row border-box-wht">
                    P.O. Number
                  </div>
                  <div class="row border-box-wht">
                    P.O. Date
                  </div>
                  <div class="row border-box-wht">
                    Invoice/Vendor
                  </div>
                </div>
                <div class="col-sm-8">
                  <div class="row border-box">
                    {{ purchase_order.po_number }}
                  </div>
                  <div class="row border-box">
                    {{ purchase_order.po_date }}
                  </div>
                  <div class="row border-box">
                    {{ purchase_order.invoice_number }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-sm-4">
              <div style="border-bottom:1px solid #999; color:#999;">Ship to</div>
              <table>
                {% if purchase_order.ship_to_last_name %}
                <tr>
                  <td class="font-weight-bold">Name: </td>
                  <td style="padding-left:10px;">{{ purchase_order.ship_to_first_name }} {{ purchase_order.ship_to_last_name }}</td>
                </tr>
                {% endif %}
                <tr>
                  <td class="font-weight-bold">Company: </td>
                  <td style="padding-left:10px;">{{ purchase_order.ship_to_company }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold" style=" vertical-align:top;">Address: </td>
                  <td style="padding-left:10px;">
                    {{ purchase_order.ship_to_address1 }}, {{ purchase_order.ship_to_address2 }}<br />
                    {{ purchase_order.ship_to_city }}, {{ purchase_order.ship_to_state }} {{ purchase_order.ship_to_zipcode }}
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Phone: </td>
                  <td style="padding-left:10px;">{{ purchase_order.ship_to_phone }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Email: </td>
                  <td style="padding-left:10px;">{{ purchase_order.ship_to_email }}</td>
                </tr>
              </table>
            </div>
            <div class="col-sm-4">
              <div style="border-bottom:1px solid #999; color:#999;">Bill to</div>
              <table>
                {% if purchase_order.bill_to_last_name %}
                <tr>
                  <td class="font-weight-bold">Name: </td>
                  <td style="padding-left:10px;">{{ purchase_order.bill_to_first_name }} {{ purchase_order.bill_to_last_name }}</td>
                </tr>
                {% endif %}
                <tr>
                  <td class="font-weight-bold">Company: </td>
                  <td style="padding-left:10px;">{{ purchase_order.bill_to_company }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold" style=" vertical-align:top;">Address: </td>
                  <td style="padding-left:10px;">
                    {{ purchase_order.bill_to_address1 }}, {{ purchase_order.bill_to_address2 }}<br />
                    {{ purchase_order.bill_to_city }}, {{ purchase_order.bill_to_state }} {{ purchase_order.bill_to_zipcode }}
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Phone: </td>
                  <td style="padding-left:10px;">{{ purchase_order.bill_to_phone }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Email: </td>
                  <td style="padding-left:10px;">{{ purchase_order.bill_to_email }}</td>
                </tr>
              </table>
            </div>
            <div class="col-sm-4">
              <div style="border-bottom:1px solid #999; color:#999;">Vendor</div>
              <table>
                {% if purchase_order.purchased_from_last_name %}
                <tr>
                  <td class="font-weight-bold">Name: </td>
                  <td style="padding-left:10px;">{{ purchase_order.purchased_from_first_name }} {{ purchase_order.purchased_from_last_name }}</td>
                </tr>
                {% endif %}
                <tr>
                  <td class="font-weight-bold">Company: </td>
                  <td style="padding-left:10px;">{{ purchase_order.purchased_from_company }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold" style="vertical-align:top;">Address: </td>
                  <td style="padding-left:10px;">
                    {{ purchase_order.purchased_from_address1 }}, {{ purchase_order.purchased_from_address2 }}<br />
                    {{ purchase_order.purchased_from_city }}, {{ purchase_order.purchased_from_state }} {{ purchase_order.purchased_from_zipcode }}
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Phone: </td>
                  <td style="padding-left:10px;">{{ purchase_order.purchased_from_phone }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Email: </td>
                  <td style="padding-left:10px;">{{ purchase_order.purchased_from_email }}</td>
                </tr>
              </table>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-sm-3">
              <div style="border-bottom:1px solid #999; color:#999;">Terms</div>
            </div>
            <div class="col-sm-3">
              <div style="border-bottom:1px solid #999; color:#999;">F.O.B.</div>
            </div>
            <div class="col-sm-3">
              <div style="border-bottom:1px solid #999; color:#999;">Shipping Method</div>
            </div>
            <div class="col-sm-3">
              <div style="border-bottom:1px solid #999; color:#999;">Delivery Date</div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div>{{ purchase_order.get_terms_display }}</div>
            </div>
            <div class="col-sm-3">
              <div>{{ purchase_order.fob }}</div>
            </div>
            <div class="col-sm-3">
              <div>{{ purchase_order.get_shipping_display }}</div>
            </div>
            <div class="col-sm-3">
              <div>{{ purchase_order.delivery_date }}</div>
            </div>
          </div>
          <br />
          <!-- PURCASE ITEMS -->
          <div class="row">
            <div class="col-sm-12">
              <table class="table table-striped table-bordered table-sm" style="border: 1px solid #fff;">
                <thead style="background-color:#dadada;">
                  <tr>
                    <th width="80px">Qty.</th>
                    <th width="180px">Unit</th>
                    <th>Description</th>
                    <th width="120px">Unit Price</th>
                    <th width="120px">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in items %}
                  <tr>
                    <td>{{ item.qty }}</td>
                    <td>{{ item.unit }}</td>
                    <td>{{ item.description }}</td>
                    <td>${{ item.unit_price }}</td>
                    <td>${{ item.amount }}</td>
                  </tr>
                  {% endfor %}
                  <tr>
                    <td style="background-color:#fff; border:1px solid #fff;"></td>
                    <td style="background-color:#fff; border:1px solid #fff;"></td>
                    <td style="background-color:#fff; border-bottom:1px solid #fff; border-left:1px solid #fff;"></td>
                    <td style="background-color:#d5faf7">Subtotal</td>
                    <td style="background-color:#d5faf7">$40.00</td>
                  </tr>
                  <tr>
                    <td style="background-color:#fff; border:1px solid #fff;"></td>
                    <td style="background-color:#fff; border:1px solid #fff;"></td>
                    <td style="background-color:#fff; border-bottom:1px solid #fff; border-left:1px solid #fff;"></td>
                    <td style="background-color:#d5faf7">Tax</td>
                    <td style="background-color:#d5faf7"></td>
                  </tr>
                  <tr>
                    <td style="background-color:#fff; border:1px solid #fff;"></td>
                    <td style="background-color:#fff; border:1px solid #fff;"></td>
                    <td style="background-color:#fff; border-bottom:1px solid #fff; border-left:1px solid #fff;"></td>
                    <td style="background-color:#d5faf7">Shipping</td>
                    <td style="background-color:#d5faf7"></td>
                  </tr>
                  {% if purchase_order.other_amount %}
                  <tr>
                    <td style="background-color:#fff; border:1px solid #fff;"></td>
                    <td style="background-color:#fff; border:1px solid #fff;"></td>
                    <td style="background-color:#fff; border-bottom:1px solid #fff; border-left:1px solid #fff;"></td>
                    <td style="background-color:#d5faf7">Other</td>
                    <td style="background-color:#d5faf7"></td>
                  </tr>
                  {% endif %}
                  <tr>
                    <td style="background-color:#fff; border:1px solid #fff;"></td>
                    <td style="background-color:#fff; border:1px solid #fff;"></td>
                    <td style="background-color:#fff; border-bottom:1px solid #fff; border-left:1px solid #fff;"></td>
                    <td style="background-color:#f5fad5"><b>Total</b></td>
                    <td style="background-color:#f5fad5"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p><div style="margin-bottom:4px;">Tax Rate: <span style="padding-left:20px; padding-right:20px; background-color:#eee; border:1px solid #fff;">{% if purchase_order.sales_tax %}{{ purchase_order.tax_amount }}%{% else %}N/A{% endif %}</span><br /></div>
              {% if purchase_order.delivery_date %}<b>Optipulse must be informed immediately if the order is not to be completed by {{ purchase_order.delivery_date }}</b><br />{% endif %}</p>
              <div style="border-bottom:1px solid #999; color:#999;">Additional Comments/Notes:</div>
            </div>
            <div class="col-md-6">
              <div style="border-bottom:1px solid #999; color:#999; margin-bottom:10px;">Approved by CEO</div>
              <div class="row">
                <div class="col-md-9">
                  <div class="signature-area">

                  </div>
                </div>
                <div class="col-md-3">
                  <div class="signature-area">
                    {{ purchase_order.date_approved_by_ceo }}
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <strong>Instructions</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <p>After you have finished adding all items to the purchase order click the 'Download' button above to download a PDF of the P.O. to your computer</p>
              <p>Once you download the P.O. save the file in SharePoint under <a href="">Procurements Site/Purchase Orders</a></p>
              <p>Once the order has arrived at the destination check the contents of the delivery and approve of the delivery/receipt in the <a href="">Receiving App</a> according to the P.O. Number</p>
            </div>
          </div>
          <!--/.row-->
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <strong>Record History</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="detail-group">
                <div class="detail-name">Updated By</div>
                {{ purchase_order.created_by }}
              </div>
            </div>
            <div class="col-sm-6">
              <div class="detail-group">
                <div class="detail-name">Updated At</div>
                {{ purchase_order.created_at }}
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-6">
              <div class="detail-group">
                <div class="detail-name">Created By</div>
                {{ purchase_order.created_by }}
              </div>
            </div>
            <div class="col-sm-6">
              <div class="detail-group">
                <div class="detail-name">Created At</div>
                {{ purchase_order.created_at }}
              </div>
            </div>
          </div>
          <!--/.row-->
        </div>
      </div>
    </div>
</div>

{% block view_scripts %}
<script src="{% static "js/jquery.bootstrap.modal.forms.js" %}"></script>
<script>
$(document).ready(function() {

    $("#createTest").modalForm({
        formURL: "/purchase-order-items/create/"
    });

});
</script>
{% endblock %}

{% endblock %}
