{% extends "pages/layout.html" %}
{% load static from staticfiles %}
{% load widget_tweaks %}
{% block title %}{% if not form.instance.pk %}Add Purchase Order{% else %}Edit Purchase Order{% endif %}{% endblock %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumb %}
  {% block breadcrumbs %}
    {{ block.super }}
  {% endblock %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col">
      <h1 class="page_title">{% if not form.instance.pk %}Add Purchase Order{% else %}Edit Purchase Order{% endif %}</h1>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
      <div class="card">
        <form method='POST'>
          {% csrf_token %}
          <div class="card-header">
            <strong>New Purchase Order</strong>
            <small>Form</small>
          </div>
          <div class="card-body">
            {{ form.non_field_errors }}
            <div class="row">
              <div class="form-group col-sm-12">
                <h4>Vendor</h4>
              </div>
              <div class="form-group col-sm-3">
                <div class="form-group">
                  <label for="{{ form.purchased_from_company.id_for_label }}"><b>Vendor</b></label>
                  {% render_field form.purchased_from_company class+="form-control" %}
                  {{ form.purchased_from_company.errors }}
                </div>
              </div>
              <div class="form-group col-sm-3">
                <div class="form-group">
                  <label for="{{ form.purchased_from_address1.id_for_label }}">Vendor Address</label>
                  {% render_field form.purchased_from_address1 class+="form-control" %}
                  {{ form.purchased_from_address1.errors }}
                </div>
              </div>
              <div class="form-group col-sm-3">
                <div class="form-group">
                  <label for="{{ form.purchased_from_address2.id_for_label }}">Vendor Address Line 2</label>
                  {% render_field form.purchased_from_address2 class+="form-control" %}
                  {{ form.purchased_from_address2.errors }}
                </div>
              </div>
              <div class="form-group col-sm-3">
                <div class="form-group">
                  <label for="{{ form.purchased_from_city.id_for_label }}">Vendor City</label>
                  {% render_field form.purchased_from_city class+="form-control" %}
                  {{ form.purchased_from_city.errors }}
                </div>
              </div>
            </div>
            <!--/.row-->
            <div class="row">
              <div class="form-group col-sm-3">
                <div class="form-group">
                  <label for="{{ form.purchased_from_state.id_for_label }}">Vendor State</label>
                  {% render_field form.purchased_from_state class+="form-control" %}
                  {{ form.purchased_from_state.errors }}
                </div>
              </div>
              <div class="form-group col-sm-2">
                <div class="form-group">
                  <label for="{{ form.purchased_from_zip.id_for_label }}">Vendor Zipcode</label>
                  {% render_field form.purchased_from_zip class+="form-control" %}
                  {{ form.purchased_from_zip.errors }}
                </div>
              </div>
              <div class="form-group col-sm-3">
                <div class="form-group">
                  <label for="{{ form.purchased_from_country.id_for_label }}">Vendor Country</label>
                  {% render_field form.purchased_from_country class+="form-control" %}
                  {{ form.purchased_from_country.errors }}
                </div>
              </div>
            </div>
            <!--/.row-->
            <div class="row">
              <div class="form-group col-sm-4">
                <div class="form-group">
                  <label for="{{ form.purchased_from_email.id_for_label }}">Vendor Email</label>
                  {% render_field form.purchased_from_email class+="form-control" %}
                  {{ form.purchased_from_email.errors }}
                </div>
              </div>
              <div class="form-group col-sm-3">
                <div class="form-group">
                  <label for="{{ form.purchased_from_phone.id_for_label }}">Vendor Phone</label>
                  {% render_field form.purchased_from_phone class+="form-control" %}
                  {{ form.purchased_from_phone.errors }}
                </div>
              </div>
              <div class="form-group col-sm-3">
                <div class="form-group">
                  <label for="{{ form.purchased_from_fax.id_for_label }}">Vendor Fax</label>
                  {% render_field form.purchased_from_fax class+="form-control" %}
                  {{ form.purchased_from_fax.errors }}
                </div>
              </div>
            </div>
            <!--/.row-->
            <div class="row" style="margin-top:14px;">
              <div class="form-group col-sm-12">
                <h4>Billing</h4>
              </div>
            </div>
            <!--/.row-->
            <div class="row" style="margin-top:14px;">
              <div class="form-group col-sm-12">
                <h4>Shipping</h4>
              </div>
            </div>
            <!--/.row-->
            <br />
            <input type="submit" class="btn btn-primary" value="Create">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
