{% extends "pages/layout.html" %}

{% load static from staticfiles %}

{% block title %}{% endblock %}

{% block styles %}
<!-- jQuery DataTables -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"/>
<link href="{% static 'css/dataTables.overrides.css' %}" rel="stylesheet">
<style>
    tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
        border-radius: 3px;
        border: 1px solid #ccc;
    }
    div.container {
        width: 80%;
    }
</style>
{% endblock %}

{% block head_js %}
<!-- jQuery DataTables -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h2>{% block list_title %}{% endblock %}</h2>
    </div>
    <div class="col-8">
        {% block buttons %}{% endblock %}
    </div>
</div>
<table id="example" class="display" cellspacing="0" width="100%">
    {% block table %}{% endblock %}
</table>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        // Setup - add a text input to each footer cell
        $('#example tfoot th').each( function () {
            $(this).html( '<input type="text" placeholder="Search" />' );
        } );

        // DataTable
        var table = $('#example').DataTable();

        // Apply the search
        table.columns().every( function () {
            var that = this;

            $( 'input', this.footer() ).on( 'keyup change', function () {
                if ( that.search() !== this.value ) {
                    that
                        .search( this.value )
                        .draw();
                }
            } );
        } );
    } );
</script>
{% block individualscripts %}{% endblock %}
{% endblock %}

{% block jsrefs %}{% endblock %}
