{% extends "pages/layout.html" %}

{% load static from staticfiles %}

{% block meta_title %}{% endblock %}

{% block view_styles %}
  <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
  <link href="{% static 'css/dataTables.overrides.css' %}" rel="stylesheet">
  <style>
    tfoot input {
      width: 100%;
      padding: 3px;
      box-sizing: border-box;
      border-radius: 3px;
      border: 1px solid #ccc;
    }
    div.container {
      width: 80%;
    }
  </style>
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
  {% block extra_js%}
  {% endblock %}
{% endblock %}


{% block content %}
  <div class="row" style="margin-left:-30px; margin-right:-30px;">
      <div class="col-6">
          <h1 class="page_title" style="margin-left:14px;">{% block list_title %}{% endblock %}</h1>
          <h4 class="page_title_2" style="margin-left:14px;">{% block list_title_2 %}{% endblock %}</h4>
      </div>
      <div class="col-6">
          {% block buttons %}{% endblock %}
      </div>

      <table id="example" class="display" style="width:100%">
          {% block table %}{% endblock %}
      </table>
  </div>
{% endblock %}
{% block modal %}
{% endblock %}
{% block view_scripts %}

  <script>
      $(document).ready(function() {
          // Setup - add a text input to each footer cell
          $('#example tfoot th').each( function () {
              $(this).html( '<input type="text" placeholder="Search" />' );
          } );

          var table = $('#example').DataTable( {
              scrollY:        '54vh',
              scrollCollapse: true,
              paging:         false,
              /*stateSave: true,*/
              dom: 'Bfrtip',
              buttons: [
                  'print', 'excel'
              ]
          } );

          // Apply the search
          table.columns().every( function () {
              var that = this;

              $( 'input', this.footer() ).on( 'keyup change', function () {
                  if ( that.search() !== this.value ) {
                      that
                          .search( this.value )
                          .draw();
                  }
              } );
          } );
      } );
  </script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/b-html5-1.5.1/b-print-1.5.1/cr-1.4.1/r-2.2.1/datatables.min.js"></script>


{% endblock %}
