{% extends "pages/list_template.html" %}

{% block title %}Flip Chips{% endblock %}

{% block list_title %}Flip Chips{% endblock %}
{% block table %}
    <thead>
        <tr>
            <th>
                Serial Number
            </th>
            <th>
                Laser Chip
            </th>
            <th>
                Substrate
            </th>
            <th>
                Bond Pressure
            </th>
            <th>
                Bond Heat
            </th>
            <th>
                Bond Time
            </th>
            <th>
                Bond Date
            </th>
            <th>
                Bonding Tool
            </th>
            <th>
                Pack/Carrier
            </th>
            <th>
                Geo Location
            </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>
                Serial Number
            </th>
            <th>
                Laser Chip
            </th>
            <th>
                Substrate
            </th>
            <th>
                Bond Pressure
            </th>
            <th>
                Bond Heat
            </th>
            <th>
                Bond Time
            </th>
            <th>
                Bond Date
            </th>
            <th>
                Bonding Tool
            </th>
            <th>
                Pack/Carrier
            </th>
            <th>
                Geo Location
            </th>
        </tr>
    </tfoot>
    <tbody>
        {% for flip_chip in flip_chips %}
        <tr>
            <td><a href="">{{ flip_chip.serial_num }}</a></td>
            <td><a href="">[Laser Chip]</td>
            <td><a href="">[Substrate]</td>
            <td>{{ flip_chip.bond_pressure }}</td>
            <td>{{ flip_chip.bond_heat }}</td>
            <td>{{ flip_chip.bond_time }}</td>
            <td>{{ flip_chip.bond_date }}</td>
            <td>{{ flip_chip.bond_tool }}</td>
            <td>{{ flip_chip.carrier }}</td>
            <td>{{ flip_chip.geo_location }}</td>
        </tr>
        {% endfor %}
    </tbody>
{% endblock %}