{% extends "pages/list_template.html" %}

{% block title %}GaAs Wafer List{% endblock %}

{% block list_title %}GaAs Wafers{% endblock %}

{% block buttons %}
<div class="btn-group" role="group" aria-label="Button group with nested dropdown" style="margin-bottom: -100px; z-index:1000;">
    <a class="btn btn-primary">Add GaAs Wafer</a>
  
    <div class="btn-group" role="group">
        <a id="btnGroupDrop1" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Options
        </a>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="#">Print</a>
            <a class="dropdown-item" href="#">Export .xlsx</a>
        </div>
    </div>
</div>
{% endblock %}

{% block table %}
    <thead>
        <tr>
            <th>
                Wafer UI
            </th>
            <th>
                Wafer Design
            </th>
            <th>
                Growth Date
            </th>
            <th>
                Wafer Position
            </th>
            <th>
                Reflectance Map
            </th>
            <th>
                Wafer Diameter
            </th>
            <th>
                Conductivity
            </th>
            <th>
                Wavelength
            </th>
            <th>
                Gain Offset
            </th>
            <th>
                Operating Temp.
            </th>
            <th>
                Vendor
            </th>
            <th>
                Growth Lot
            </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>
                Wafer UI
            </th>
            <th>
                Wafer Design
            </th>
            <th>
                Growth Date
            </th>
            <th>
                Wafer Position
            </th>
            <th>
                Reflectance Map
            </th>
            <th>
                Wafer Diameter
            </th>
            <th>
                Conductivity
            </th>
            <th>
                Wavelength
            </th>
            <th>
                Gain Offset
            </th>
            <th>
                Operating Temp.
            </th>
            <th>
                Vendor
            </th>
            <th>
                Growth Lot
            </th>
        </tr>
    </tfoot>
    <tbody>
        {% for gaas_wafer in gaas_wafers %}
        <tr>
            <td><a href="">{{ gaas_wafer.wafer_ui }}</a></td>
            <td>{{ gaas_wafer.design_ui }}</td>
            <td>{{ gaas_wafer.growth_date }}</td>
            <td>{{ gaas_wafer.wafer_position }}</td>
            <td>{{ gaas_wafer.reflectance_map }}</td>
            <td>{{ gaas_wafer.wafer_diameter }}</td>
            <td>{{ gaas_wafer.conductivity }}</td>
            <td>{{ gaas_wafer.wavelength }}</td>
            <td>{{ gaas_wafer.gain_offset }}</td>
            <td>{{ gaas_wafer.designed_operating_temp }}</td>
        </tr>
        {% endfor %}
    </tbody>
{% endblock %}