{% load static from staticfiles %}
<div class="sidebar">
    <section>
    <ul class="sidebar-menu">
        <li class="sidebar-header">MAIN NAVIGATION</li>
        <li>
            <a href="{% url 'dashboard:dashboard' %}">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            </a>
        </li><!--
        <li class="sidebar-header">ADMINISTRATION</li>
        <li>
            <a href="#">
                <i class="fa fa-users"></i>
                <span>Human Resources</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="sidebar-submenu">
                <li><a href="#">Employees</a></li>
                <li><a href="#">Timesheets</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-address-book-o"></i>
                <span>Contacts</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="sidebar-submenu">
                <li><a href="">Contacts</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-money" aria-hidden="true"></i>
                <span>Financial</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="sidebar-submenu">
                <li><a href="">Fixed Assets</a></li>
                <li><a href="">Invoices</a></li>
                <li><a href="">Purchase Orders</a></li>
            </ul>
        </li>-->
        <li class="sidebar-header">ENGINEERING</li>
        
        <li><a href="{% url 'engineering:product_list' %}"><i class="fa fa-database"></i> Product DB</a></li>
        <li>
            <a href="#">Flip-Chips <i class="fa fa-angle-left pull-right"></i></a>
            <ul class="sidebar-submenu">
              <li><a href="{% url 'engineering:flip_chip_list' %}"><i class="fa fa-database"></i> Flip Chip DB</a></li>
              <li>
                <a href="#">Laser Chips <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="sidebar-submenu">
                    <li><a href=""><i class="fa fa-database"></i> Laser Chip DB</a></li>
                    <li>
                        <a href="#">Processed Epis <i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="sidebar-submenu">
                            <li><a href=""><i class="fa fa-database"></i> Processed Epis DB</a></li>
                            <li><a href="#">Epi Wafers <i class="fa fa-angle-left pull-right"></i></a>
                                <ul class="sidebar-submenu">
                                    <li><a href=""><i class="fa fa-database"></i> Epi Wafer DB</a></li>
                                    <li>
                                        <a href="#">Epi Growths <i class="fa fa-angle-left pull-right"></i></a>
                                        <ul class="sidebar-submenu">
                                            <li><a href=""><i class="fa fa-database"></i> Epi Growth DB</a></li>
                                            <li>
                                                <a href="#">GaAs Wafers <i class="fa fa-angle-left pull-right"></i></a>
                                                <ul class="sidebar-submenu">
                                                    <li><a href=""><i class="fa fa-database"></i> GaAs Wafer DB</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#">Laser Chip Masks <i class="fa fa-angle-left pull-right"></i></a>
                                <ul class="sidebar-submenu">
                                    <li><a href="">Laser Chip Mask DB</a></li>
                                    <li>
                                        <a href="#">Epi Growths <i class="fa fa-angle-left pull-right"></i></a>
                                        <ul class="sidebar-submenu">
                                            <li><a href="">Epi Growth DB</a></li>
                                            <li>
                                                <a href="#">GaAs Wafers <i class="fa fa-angle-left pull-right"></i></a>
                                                <ul class="sidebar-submenu">
                                                    <li><a href="">GaAs Wafer DB</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                </li>
                <li>
                    <a href="#">Submounts <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="sidebar-submenu">
                        <li><a href="#">Submounts DB</a></li>
                        <li>
                            <a href="#">Substrate Masks <i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="sidebar-submenu">
                                <li><a href="#">Substrate Mask DB</a></li>
                                <li><a href="#">Mask Design DB</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Si Wafers <i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="sidebar-submenu">
                                <li><a href="#">Si Wafer DB</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <!--
        <li class="sidebar-header">LEGAL</li>
        
        <li>
            <a href="#">
                <i class="fa fa-balance-scale"></i> <span>Legal</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="sidebar-submenu">
                <li><a href="#">NDAs</a></li>
            </ul>
        </li>
        <li class="sidebar-header">APPS</li>
        <li>
            <a href="#">
                <i class="fa fa-tasks"></i> <span>Tasks</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="sidebar-submenu">
                <li><a href="#">Tasks</a></li>
            </ul>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-calendar"></i> <span>Calendar</span>
            <small class="label pull-right label-danger">3</small>
          </a>
        </li>-->
        <li class="sidebar-header">HELP</li>
        <li>
            <a href="#">
                <i class="fa fa-life-ring"></i> Help
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="sidebar-submenu">
                <li><a href="#">Documentation</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Support</a></li>
            </ul>
        </li>
    </ul>
  </section>
</div>