<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard:dashboard' %}">Dashboard</a>
      </li>
      <li class="nav-title">
        <i class="fas fa-tasks" style="margin-right:10px;"></i>Administration
      </li>
      {% if perms.administration %}
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">Company</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'administration:contact_list' %}" target="_top">Contacts</a>
          </li>
        </ul>
      </li>
      {% endif %}
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">Employees</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'administration:user_activity' %}" target="_top">Time Reporting</a>
          </li>
        </ul>
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle disabled-link" href="#">Shipping/Receiving</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" href="#" target="_top">Receiving Log</a>
          </li>
        </ul>
      </li>
      {% if perms.financial %}
      <li class="nav-title">
        <i class="fas fa-dollar-sign" style="margin-right:10px;"></i>Fincancial
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">Accounting</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'administration:fixed_asset_list' %}" target="_top">Assets</a>
          </li>
          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">Purchase Orders</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item disabled-link">
                <a class="nav-link disabled-link" href="#" target="_top">Incoming POs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'financial:purchase_order_list' %}" target="_top">Outgoing POs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" target="_top">PO Templates</a>
              </li>
            </ul>
          </li>
          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">Invoices</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'financial:invoice_list' %}" target="_top">Incoming Invoices</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled-link" href="#" target="_top">Outgoing Invoices</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" target="_top">Invoice Templates</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      {% endif %}
      <li class="nav-title">
        <i class="fas fa-bolt" style="margin-right:10px;"></i>Engineering
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">Product Database</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'engineering:database_flow' %}" target="_top">Production Flow</a>
          </li>
        </ul>
      </li>
      <li class="nav-title">
        <i class="fas fa-gavel" style="margin-right:10px;"></i>Legal
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle disabled-link" href="#">Contracts</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" href="#" target="_top">NDAs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" target="_top">SOWs</a>
          </li>
        </ul>
      </li>

      <li class="nav-item mt-auto">
        <a class="nav-link nav-link-primary" href="#" target="_top">Documentation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-primary" href="#" target="_top">Support</a>
      </li>
    </ul>
  </nav>
</div>
