{% load static from staticfiles %}

<ul class="nav navbar-nav ml-auto">

    <form method='POST' action='{% url 'administration:clock_in' %}'>
      {% csrf_token %}
      <input type="submit" style="margin-right:6px;" type="button" class="btn btn-success" value="Clock-in"></button>
    </form>
    <form method='POST' action='{% url 'administration:clock_out' %}'>
      {% csrf_token %}
      <input type="submit" style="margin-right:6px;" type="button" class="btn btn-danger" value="Clock-out"></button>
    </form>

    <!--
    <li class="nav-item d-md-down-none">
        <a class="nav-link" href="#"><i class="fa fa-bell-o"></i><span class="badge badge-pill badge-danger">5</span></a>
    </li>
    <li class="nav-item d-md-down-none">
        <a class="nav-link" href="#"><i class="fa fa-list"></i></a>
    </li>
    <li class="nav-item d-md-down-none">
        <a class="nav-link" href="#"><i class="fa fa-thumb-tack"></i></a>
    </li>
    -->
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            {% if request.user.prof_image %}
                <img src="{% static 'images/users/avatars/' %}{{ request.user.prof_image }}" class="img-avatar" alt="">
            {% else %}
                <img src="{% static 'images/users/avatars/blank.jpg' %}" class="img-avatar" alt="">
            {% endif %}
            <span class="d-md-down-none"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right">

            <div class="dropdown-header text-center">
                <strong>Account</strong>
            </div>

            <a class="dropdown-item" href="#"><i class="fas fa-user-circle"></i> Profile</a>
            <a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Timesheets</a>

            <div class="dropdown-header text-center">
                <strong>Settings</strong>
            </div>
            <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> User Settings</a>

            <div class="dropdown-header text-center">
                <strong>Logout</strong>
            </div>

            <a class="dropdown-item" href="{% url 'account_logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
        </div>
    </li>
    <li class="nav-item d-md-down-none">
        <a class="nav-link navbar-toggler aside-menu-toggler" href="#">☰</a>
    </li>

</ul>
