{% load static from staticfiles %}
<a class="navbar-brand" href="#"><img class="nav-logo" src="{% static 'images/logo.png' %}" /></a>
<ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item">
        <a class="nav-link navbar-toggler sidebar-toggler" href="#">☰</a>
    </li>
    <li class="nav-item px-3">
        <a class="nav-link" href="#">Admin Dashboard</a>
    </li>
    <li class="nav-item px-3">
        <a class="nav-link" href="">Users</a>
    </li>
    <li class="nav-item px-3">
        <a class="nav-link" href="#">Groups</a>
    </li>
    <li class="nav-item px-3">
        <a class="nav-link" href="#">Account Settings</a>
    </li>
</ul>