{% extends "pages/list_template.html" %}
{% block meta_title %}Invoices{% endblock %}
{% block list_title %}Invoices{% endblock %}
{% block list_title_2 %}All Invoices{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'dashboard:dashboard' %}">Dashboard</a></li>
<li class="breadcrumb-item active">Invoices</li>
{% endblock %}
{% block buttons %}
  {% include "financial/invoices/invoice_buttons.html" %}
{% endblock %}

{% block table %}
    <thead>
      <tr>
        <th>
            Invoice Number
        </th>
        <th>
            Invoice Date
        </th>
        <th>
            Company
        </th>
        <th>
            Created At
        </th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>
            Invoice Number
        </th>
        <th>
            Invoice Date
        </th>
        <th>
            Company
        </th>
        <th>
            Created At
        </th>
      </tr>
    </tfoot>
    <tbody>
      {% for invoice in invoices %}
      <tr>
        <td><a href="">{{ invoice.invoice_number }}</a></td>
        <td>{{ invoice.invoice_date }}</td>
        <td>{{ invoice.purchased_from_company }}</td>
        <td>{{ invoice.created_at }}</td>
      </tr>
      {% endfor %}
    </tbody>
{% endblock %}
