{% extends "pages/list_template.html" %}

{% block title %}Fixed Assets (Inactive){% endblock %}

{% block list_title %}Fixed Assets{% endblock %}
{% block list_title_2 %}All Inactive Assets{% endblock %}
{% block buttons %}
  {% include "administration/fixed_assets/fixed_asset_buttons.html" %}
{% endblock %}

{% block table %}
    <thead>
        <tr>
            <th>
                Asset Tag
            </th>
            <th>
                Serial #
            </th>
            <th>
                Manufacturer
            </th>
            <th>
                Model
            </th>
            <th>
                Type
            </th>
            <th>
                Purchase Date
            </th>
            <th>
                Purchase Price
            </th>
            <th style="display:none">
                Purchased From
            </th>
            <th>
                Purchase Cond.
            </th>
            <th>
                Purchase Order
            </th>
            <th>
                Location
            </th>
            <th>
                Owner
            </th>
        </tr>
    </thead>
    <tfoot>
      <tr>
          <th>
              Asset Tag
          </th>
          <th>
              Serial #
          </th>
          <th>
              Manufacturer
          </th>
          <th>
              Model
          </th>
          <th>
              Type
          </th>
          <th>
              Purchase Date
          </th>
          <th>
              Purchase Price
          </th>
          <th style="display:none">
              Purchased From
          </th>
          <th>
              Purchase Cond.
          </th>
          <th>
              Purchase Order
          </th>
          <th>
              Location
          </th>
          <th>
              Owner
          </th>
      </tr>
    </tfoot>
    <tbody>
        {% for fixed_asset in fixed_assets %}
        <tr>
            <td><a href="{% url 'administration:fixed_asset_detail' pk=fixed_asset.pk %}">{{ fixed_asset.asset_tag }}</a></td>
            <td>{{ fixed_asset.serial_number|truncatechars:14 }}</td>
            <td>{{ fixed_asset.manufacturer|truncatechars:14 }}</td>
            <td>{{ fixed_asset.model_number|truncatechars:14 }}</td>
            <td>{{ fixed_asset.get_asset_type_display|truncatechars:14 }}</td>
            <td>{{ fixed_asset.purchase_date|date:"m/d/y" }}</td>
            <td>${{ fixed_asset.purchase_price }}</td>
            <td style="display:none">{{ fixed_asset.purchased_from|truncatechars:14 }}</td>
            <td>{{ fixed_asset.get_purchase_condition_display|truncatechars:10 }}</td>
            <td><a href="">{{ fixed_asset.purchase_order }}</a></td>
            <td>{{ fixed_asset.location|truncatechars:14 }}</td>
            <td>{{ fixed_asset.owner }}</td>
        </tr>
        {% endfor %}
    </tbody>
{% endblock %}
