{% extends "pages/list_template.html" %}

{% block title %}Fixed Assets over $1000{% endblock %}

{% block list_title %}Fixed Assets over $1000{% endblock %}

{% block buttons %}
<div class="btn-group" role="group" aria-label="Button group with nested dropdown" style="margin-bottom: -30px; z-index:1000;">
    <a class="btn btn-primary" href="{% url 'administration:fixed_asset_create' %}"><i class="fa fa-plus-circle fa-fw"></i> Add New</a>
    <a class="btn btn-primary disabled"><i class="fa fa-print fa-fw"></i> Print</a>
    <a class="btn btn-primary disabled"><i class="fa fa-file-excel fa-fw"></i> Export</a>
    <div class="btn-group" role="group">
        <a id="btnGroupDrop1" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            View
        </a>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" href="{% url 'administration:fixed_asset_list' %}">All Active</a>
          <a class="dropdown-item" href="{% url 'administration:fixed_asset_inactive_list' %}">All Inactive</a>
          <a class="dropdown-item" href="{% url 'administration:fixed_asset_500_list' %}">> $500</a>
          <a class="dropdown-item" href="{% url 'administration:fixed_asset_1000_list' %}">> $1000</a>
        </div>
    </div>
</div>
{% endblock %}

{% block table %}
    <thead>
        <tr>
            <th>
                Asset Tag
            </th>
            <th>
                Serial #
            </th>
            <th>
                Manufacturer
            </th>
            <th>
                Model
            </th>
            <th>
                Type
            </th>
            <th>
                Purchase Date
            </th>
            <th>
                Purchase Price
            </th>
            <th style="display:none">
                Purchased From
            </th>
            <th>
                Purchase Cond.
            </th>
            <th>
                Purchase Order
            </th>
            <th>
                Location
            </th>
            <th>
                Owner
            </th>
        </tr>
    </thead>
    <tfoot>
      <tr>
          <th>
              Asset Tag
          </th>
          <th>
              Serial #
          </th>
          <th>
              Manufacturer
          </th>
          <th>
              Model
          </th>
          <th>
              Type
          </th>
          <th>
              Purchase Date
          </th>
          <th>
              Purchase Price
          </th>
          <th style="display:none">
              Purchased From
          </th>
          <th>
              Purchase Cond.
          </th>
          <th>
              Purchase Order
          </th>
          <th>
              Location
          </th>
          <th>
              Owner
          </th>
      </tr>
    </tfoot>
    <tbody>
        {% for fixed_asset in fixed_assets %}
        <tr>
            <td><a href="{% url 'administration:fixed_asset_detail' pk=fixed_asset.pk %}">{{ fixed_asset.asset_tag }}</a></td>
            <td>{{ fixed_asset.serial_number|truncatechars:14 }}</td>
            <td>{{ fixed_asset.manufacturer|truncatechars:14 }}</td>
            <td>{{ fixed_asset.model_number|truncatechars:14 }}</td>
            <td>{{ fixed_asset.get_asset_type_display|truncatechars:14 }}</td>
            <td>{{ fixed_asset.purchase_date|date:"m/d/y" }}</td>
            <td>${{ fixed_asset.purchase_price }}</td>
            <td style="display:none">{{ fixed_asset.purchased_from|truncatechars:14 }}</td>
            <td>{{ fixed_asset.get_purchase_condition_display|truncatechars:10 }}</td>
            <td><a href="">{{ fixed_asset.purchase_order }}</a></td>
            <td>{{ fixed_asset.location|truncatechars:14 }}</td>
            <td>{{ fixed_asset.owner }}</td>
        </tr>
        {% endfor %}
    </tbody>
{% endblock %}
