{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}
<h1>{% trans "Account Inactive" %}</h1>

<p><b>{% trans "A site administrator must approve your account before you are able to login." %}</b></p>

<p>
    A notification has been sent to site administrators letting them know to review/approve your account. Once
    your account has been approved you will be notified and you will be able to login
</p>
{% endblock %}