{% extends "account/base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

    <h1>{% trans "Sign In" %}</h1>
    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
        <p>Please sign in with your Office 365 account by clicking the Office 365 button below.</p>
        
        <a href="{% provider_login_url 'office365' %}" class="btn btn-clr btn-block"><img style="height:25px;" class="login-logo" src="{% static 'images/office_365_logo_sm.png' %}" /></a>
        
        <!--<p>If you do not have an Office 365 account / optipulse email account you can sign up for access to optiPulse Apps <a href="{{ signup_url }}">by clicking here</a></p>
        
        <div class="socialaccount_ballot">
        
            <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>
          
            <div class="login-or">{% trans 'or' %}</div>
        </div>-->
        {% include "socialaccount/snippets/login_extra.html" %}
    
    {% else %}
        <p>{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    {% endif %}
    <p>If you do not have an Office 365 account please contact support at support@optipulse.com</p>
    
    <div class="or-container">
        <hr class="or-hr" />
        <div id="or">or</div>
    </div>

    <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.errors }}
        {{ form.login }}
        {{ form.password.errors }}
        {{ form.password}}
        {{ form.remember }} Remember Me
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <input class="btn btn-block btn-success btn-signin" type="submit" value="Login" style="margin-top:10px;">
    </form>
    <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    
{% endblock %}