.login-box {
    margin-top: 100px;
}
.login-logo {
    margin-bottom: 8px;
}
input[type=text], input[type=textarea], input[type=password], input[type=email] {
    width:100%;
    border: 1px solid #ccc;
    /*border-radius: 4px;*/
    padding: 6px;
    margin-bottom:10px;
}
.btn {
    margin-top: 10px;
    margin-bottom: 6px;
    padding-top: 10px;
    padding-bottom:10px;
    cursor: pointer;
}
.noshow {
    display: none;
}
.btn-clr {
    background: #EFEFEF;
    border: 1px solid #E2E2E2;
    /*border-radius: 4px;*/
    padding-bottom: 0px;
}
.btn-clr:hover {
    background: #FCFCFC;
}
.btn-signin {
    padding: 12px 0 12px 0
}
.or-container {
    text-align: center;
    margin-top:20px;
    margin-bottom: 4px;
    clear: both;
    color: #6a737c;
    font-variant: small-caps;
}
#or {
    display: inline-block;
    position: relative;
    padding: 10px;
    background-color: #FFF;
}
hr {
    margin-bottom: -24px;
}

.btn-primary {
  color: #fff;
  background-color: #3bc68c;
  border-color: #3bc68c; }
  .btn-primary:hover {
    color: #fff;
    background-color: #36af7d;
    border-color: #3bc68c; }
  .btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(32, 168, 216, 0.5); }
  .btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #3bc68c;
    border-color: #3bc68c; }
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #3bc68c;
    border-color: #3bc68c; }

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    border-radius: 0;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
