{% extends "pages/layout.html" %}

{% block title %}My Dashboard{% endblock %}

{% block content %}
    <h2>Engineering Dashboard</h2>
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">My Dashboard</div>
                <div class="card-block">
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <div class="card-header">My Recent Places</div>
                <div class="card-block">
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <div class="card-header">My Recent History</div>
                <div class="card-block">
                </div>
            </div>
        </div>
    </div>
{% endblock %}