{% extends "pages/list_template.html" %}

{% block title %}GaAs Wafer Design List{% endblock %}

{% block list_title %}GaAs Wafer Designs{% endblock %}

{% block buttons %}
<div class="btn-group" role="group" aria-label="Button group with nested dropdown" style="margin-bottom: -100px; z-index:1000;">
    <a href="{% url 'engineering:gaas_wafer_design_create' %}" class="btn btn-primary"><i class="fa fa-plus fa-fw"></i> Add GaAs Wafer Design</a>
    <a class="btn btn-primary"><i class="fa fa-trash fa-fw"></i> View Trash</a>

    <div class="btn-group" role="group">
        <a id="btnGroupDrop1" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Options
        </a>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="#">Print</a>
            <a class="dropdown-item" href="#">Export .xlsx</a>
        </div>
    </div>
</div>
{% endblock %}

{% block table %}
    <thead>
        <tr>
            <th>
                Wafer Design UI
            </th>
            <th>
                Emitting Type
            </th>
            <th>
                Contact Location
            </th>
            <th>
                Optical Power
            </th>
            <th>
                Design Date
            </th>
            <th>
                Designer
            </th>
            <th>
                Designer UI
            </th>
            <th>
                Created At
            </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>
                Wafer Design UI
            </th>
            <th>
                Emitting Type
            </th>
            <th>
                Contact Location
            </th>
            <th>
                Optical Power
            </th>
            <th>
                Design Date
            </th>
            <th>
                Designer
            </th>
            <th>
                Designer UI
            </th>
            <th>
                Created At
            </th>
        </tr>
    </tfoot>
    <tbody>
        {% for gaas_wafer_design in gaas_wafer_designs %}
        <tr>
            <td><a href="">{{ gaas_wafer_design.design_ui }}</a></td>
            <td>{{ gaas_wafer_design.get_emitting_display }}</td>
            <td>{{ gaas_wafer_design.contact_location }}</td>
            <td>{{ gaas_wafer_design.optical_power }}</td>
            <td>{{ gaas_wafer_design.design_date }}</td>
            <td>{{ gaas_wafer_design.designer }}</td>
            <td>{{ gaas_wafer_design.designer_ui }}</td>
            <td>{{ gaas_wafer_design.created_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
{% endblock %}
