{% extends "pages/layout.html" %}
{% load static from staticfiles %}
{% load widget_tweaks %}
{% block title %}{% if not form.instance.pk %}Add Fixed Asset{% else %}Edit Fixed Asset{% endif %}{% endblock %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumb %}
  {% block breadcrumbs %}
      {{ block.super }}
  {% endblock %}
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-6">
    <div class="card">
      {% include 'engineering/gaas_wafer_designs/gaas_wafer_design_form_inner.html' %}
    </div>
  </div>
</div>

{% endblock %}
